<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="/BACKEND/estilo.formulario.css">
</head>
<body>
   
    <div class="container">
        <h1>Registro de Usuarios</h1>
        <form action="/validar" method="post">       
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre">
            <br>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido">
            <br>
            <label for="documentoid">Documento ID:</label>
            <input type="text" name="documentoid" id="documentoid">
            <br>
            <label for="telefono">Teléfono:</label>
            <input type="number" name="telefono" id="telefono">
            <br>
            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion">
            <br>
            <label for="fecha_registro">Fecha de Registro:</label>
            <input type="date" name="fecha_registro" id="fecha_registro">
            <br>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="nombre_usuario">Usuario:</label>
            <input type="text" name="nombre_usuario" id="nombre_usuario">
            <br>
            <input type="submit" value ="Registrarse">
        </form>
    </div>

        
  
</body>
</html>
